$primary-color: #6f4ef2;
$secondary-color: #ff4081;
$bg-color: #f7f7f7;
$text-color: #222;
$color-gray: #505050;
/*$component-bg: linear-gradient(
  to right,
  #6f4ef2 0%,
  #8e5fe8 50%,
  #ba68c8 100%
);
$component-bg-soft: linear-gradient(
  to right,
  #c7bdf7 0%,
  #b9a9f2 50%,
  #d2b8f5 100%
);*/
$secondary-bg: #ffffff; // lub inny kolor tła, np. #f0f0f0
$font-main: 'Poppins', sans-serif;

$max-width: 1200px;
$font-heading: 'Poppins', sans-serif;
$font-body: 'Outfit', sans-serif;
$font-accent: 'Space Grotesk', sans-serif;
