$primary-color: #6f4ef2;
$secondary-color: #ff4081;
$bg-color: #f7f7f7;
$text-color: #222;
$secondary-bg: #ffffff; // lub inny kolor tła, np. #f0f0f0
$font-main: 'Poppins', sans-serif;

$max-width: 1200px;
$font-heading: 'Poppins', sans-serif;
$font-body: 'Outfit', sans-serif;
$font-accent: 'Space Grotesk', sans-serif;
